
* {
    display: border-box;
}
ul {
          list-style: none;
          padding: 0;
      }
img {
          display: inline;
          width: 200px;
          height: 50px;
      }
#footer {
          width: 100%;
          border: solid 2px black;
          background-color: white !important;
          position: relative;
          bottom: 1px;
      }
body {
        background-color: DarkTurquoise !important;
        width: 100%;
        text-align: center;
      }

h1 {
        font-family:'IM Fell English SC', serif !important;
        font-size: 50px !important; 
      }

h3 {
         font-family:'IM Fell English SC', serif !important;
      }


#hint {
        font-family: 'Courgette', cursive;
        background-color: lavender;
        border-radius:50%;
        width: 12%;
        height: 60px;
        margin-bottom: 1%;
        font-size: 25px;
      }
#reset {
        font-family:  'Spirax', cursive;;
        background-color: lightsalmon;
        text-decoration-color: black;
        width: 12%;
        margin-bottom: 1.5%;
        font-size: 20px;
      }

.GGame {
    display: border-box; 
    text-shadow: 1px 1px 2px greenyellow;
}
.subtitle {
    text-shadow: 1px 1px 2px orange;
    font-size: 35px;
    font-family:'IM Fell English SC', serif;
}

.flourish {
    width: 30%;
}

#author {
        background-color: LavenderBlush;
        float: center; 
      }

#headers {
    text-align: center;
    /* padding: 1px; */
    border-style: solid;
    border-width: 1px 0px 0px;
    -moz-border-image: url(grace_hopper.png) 1 0 0 repeat stretch;
    -webkit-border-image: url(grace_hopper.png) 1 0 0 repeat stretch;
    -o-border-image: url(grace_hopper.png) 1 0 0 repeat stretch;
    border-image: url(grace_hopper.png) 1 0 0 fill repeat stretch;
    position: relative;
}

#guesses {
    display: inline; 
}

.attempt {
    display: inline;
    font-size: 50px;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 10%;
}

#player-input {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    font-size: 60px; 
}

#input-parent {
    margin: 5% auto50px;
    position: relative; 
}
#submit {
    height: 45px;
    position: absolute;
    left: 35%;
    width: 30%;
    color: black; 
    text-align: center;
    /* font-family: 'Spirax', cursive; */
    font-family:'IM Fell English SC', serif;
    background-color: lightgreen;
    font-size: 19px;
}

#msg {
    text-shadow: 1px 1px 2px white;
    font-size: 40px;
}

.cold {
    text-shadow: 1px 1px 2px blue;
}
.hot {
    text-shadow: 1px 1px 2px red;
}